body {
    background: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Arial,Helvetica,sans-serif";
}

.str {
    color: #333;
    width: 100%;
    padding: 5px 5px;
    line-height: 35px;
    font-size: 25px;
    box-sizing: border-box;
}

.sp {
    background-color: #189617;
    display: inline-block;
    width: 8px;
    margin: 0 3px -3px 4px;
    height: 16px;
}

.head {
    color: #000;
}
.WB_detail .thumb{
    max-width: 60%;
    max-height: 216px;
    margin-left: 20%;
    padding-bottom: 10px;
}

.hide {
    background: transparent;
}

.board {
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 35px;
    background: #00a299;
    color: #ffffff;
}
.follow {
    line-height: 55px;
    font-size: 25px;
    padding-left: 20px;
}

.time {
    width: 100px;
    line-height: 22px;
    font-size: 18px;
    padding-right: 10px;
    padding-top: 8px;
    float: right;
    text-align: right;
    font-weight: bold;
}

.say {
    padding-left: 15px;
}

#loading{
    background-position: 0 -108px;
    cursor: pointer;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
    opacity: 0.8;
    position: fixed;
    top: 50%;
    z-index: 8060;
    background-image: url("fancybox_sprite.png");
}

#loading div{
    background: url("fancybox_loading.gif") no-repeat scroll center center transparent;
    height: 44px;
    width: 44px;
}

.center{
    text-align: center;
    padding-top: 40px;
}

table{
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 400px;
}

.table{
    margin-bottom: 20px;
    width: 100%;
}

.WB_feed_datail{
    border-bottom-style:solid;
    border-bottom-width:1px;
    overflow:hidden;
    padding:10px 0 10px;
    color: #333;
}

.S_line2{
    border-color:#E6E6E6;
}

.S_line1 {
    border-color: #D9D9D9;
}

.S_bg1 {
    background-color: #F2F2F2;
}

.S_line1_c {
    color: #D9D9D9;
}

.S_bg1_c {
    color: #F2F2F2;
}

address, caption, cite, code, dfn, em, i, th, var, b {
    font-style: normal;
    font-weight: normal;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

.WB_face {
    float: left;
    position: relative;
    width: 60px;
}
.WB_face img{
    padding-left: 20px;
    padding-top: 10px;
}

.WB_detail {
    margin-left: 90px;
    margin-right: 20px;
}

.WB_text {
    padding: 4px 0;
    font-size: 22px;
    line-height: 28px;
}

.WB_info {
    font-weight: bold;
}

.WB_media_expand {
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    padding: 5px 15px;
}

.WB_media_expand .WB_text{
    font-size: 18px;
}

.WB_arrow {
    cursor: default;
    margin: -13px 0 0;
    position: absolute;
    width: 22px;
}

.WB_arrow * {
    display: block;
    font-family: "SimSun";
    font-size: 12px;
    height: 12px;
    line-height: 1.231;
    overflow: hidden;
}

.WB_arrow span {
    margin: -11px 0 0;
}

.WB_name{
    font-size: 20px;
    line-height: 25px;
}

.blue{
    color: #0A8CD2;
}
